.container{
    margin:auto;
    width:100%;
    background-color:#e8eaf6;
}
.telo{
    background-color:#e8eaf6;
    width:100%;
    margin:auto;
    position:absolute;
    bottom:4%;
    top:17.6%;
}
table{
    margin:auto;
    margin-top:1%;
    width:80%;
    padding-bottom:45px;
}

h1{
    display:inline-block;
    padding-left:10%;
    margin:auto;
    padding-top:1%;
    font-size:30px;
    color:#283593;
}

.mat-row:hover{
    background-color:#c5cae9;
}


.btnObrisiSve{
    float:right;
    margin-top:1%;
    margin-right:10%;
    background-color:#f44336;
    color: #ffffff;
    width:100px;
}

.btnDodaj{
    float:right;
    margin-top:1%;
    margin-right:2%;
    background-color:#4caf50;
    color: #ffffff;
    width:100px;
}

.btnUpdate, .btnObrisi{
    background-color:transparent;
    border:none;
    outline:none;
    width: 10px!important;
    min-width: unset;
}

.btnObrisi{
    margin-right:10px;
}
.btnUpdate:hover{
    color:#283593;
}

.btnObrisi:hover{
    color:#f44336;
}

mat-icon{
    transform:translateX(-11px);
}