<div class="left">
    
    <mat-card class="card">
        <a href="https://rti.etf.bg.ac.rs/diplomski/index.php">
        <img mat-card-image src="assets/images/diplomski.jpg">
        <mat-card-footer>{{'BachelorTheses' | translate}}</mat-card-footer>
        </a>
    </mat-card>
    
</div>
<div class="mid">
    
    <mat-card class="card" >
        <a href="https://www.etf.bg.ac.rs/sr-lat/studiranje/dokumenta/master-studije#gsc.tab=0">
        <img mat-card-image src="assets/images/master.jpg">
        <mat-card-footer>{{'MasterTheses' | translate}}</mat-card-footer>
        </a>
    </mat-card>
    
</div>
<div class="right">
    <mat-card class="card">
        <img mat-card-image src="assets/images/ostali.jpg">
        <mat-card-footer>{{'OtherProjects' | translate}}</mat-card-footer>
    </mat-card>
</div>        