<div class="telo">
    <mat-card>
        <mat-card-title>Ažuriranje predmeta</mat-card-title>
        <div class="polja-horiz1">
            <mat-form-field appearance="fill" style="margin-right:1%; width:19%;">
              <mat-label>Šifra</mat-label>
              <input matInput [(ngModel)]='code' readonly autocomplete='off' (keyup)='deleteMessage()' [formControl]="codeControl" required>
              <mat-error *ngIf="codeControl.invalid">{{getCodeErrorMessage()}}</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill" style="margin-left:1%; width:49%;">
                <mat-label>Naziv</mat-label>
                <input matInput [(ngModel)]='name' autocomplete='off' (keyup)='deleteMessage()' [formControl]="nameControl" required>
                <mat-error *ngIf="nameControl.invalid">{{getNameErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
    
        <div class="polja-horiz1">
            <mat-form-field appearance="fill" style="margin-right:1%; width:22%;">
                <mat-label>Odsek</mat-label>
                <mat-select [(ngModel)]="odsek" name="odsek">
                  <mat-option *ngFor="let odsek of odseci" [value]="odsek.oznaka">
                    {{odsek.naziv}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        
              <mat-form-field appearance="fill" style="margin-left:1%; margin-right:1%; width:22%;">
                <mat-label>Tip</mat-label>
                <mat-select [(ngModel)]="tip" name="food">
                  <mat-option *ngFor="let tip of tipovi" [value]="tip.oznaka">
                    {{tip.naziv}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
    
              <mat-form-field appearance="fill" style="margin-left:1%; width:22%;">
                <mat-label>ESPB</mat-label>
                  <input matInput [(ngModel)]='espb' autocomplete='off' (keyup)='deleteMessage()' [formControl]="espbControl" required>
                  <mat-error *ngIf="espbControl.invalid">{{getEspbErrorMessage()}}</mat-error>
                </mat-form-field>
        </div>
        
        <div class="polja-horiz1">
            <mat-form-field appearance="fill" style="margin-right:1%; width:34%;">
                <mat-label>Godina</mat-label>
                <mat-select [(ngModel)]="godina" name="godina">
                  <mat-option *ngFor="let godina of godine" [value]="godina.oznaka">
                    {{godina.naziv}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        
              <mat-form-field appearance="fill" style="margin-left:1%; width:34%;">
                <mat-label>Semestar</mat-label>
                <mat-select [(ngModel)]="semestar" name="semestar">
                  <mat-option *ngFor="let semestar of semestri" [value]="semestar.oznaka">
                    {{semestar.naziv}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    
        <div class="polja-horiz1">
            <mat-form-field appearance="fill" style="margin-right:1%; width:22%;">
            <mat-label>Fond predavanja</mat-label>
              <input matInput [(ngModel)]='lectures' autocomplete='off' (keyup)='deleteMessage()' [formControl]="lecturesControl" required>
              <mat-error *ngIf="lecturesControl.invalid">{{getLecturesErrorMessage()}}</mat-error>
            </mat-form-field>
        
              <mat-form-field appearance="fill" style="margin-right:1%; margin-left:1%; width:22%;">
                <mat-label>Fond vežbi</mat-label>
                <input matInput [(ngModel)]='exc' autocomplete='off' (keyup)='deleteMessage()' [formControl]="excControl" required>
                <mat-error *ngIf="excControl.invalid">{{getExcErrorMessage()}}</mat-error>
              </mat-form-field>
    
              <mat-form-field appearance="fill" style="margin-left:1%; width:22%;">
                <mat-label>Fond lab. vežbi</mat-label>
                <input matInput [(ngModel)]='lab' autocomplete='off' (keyup)='deleteMessage()' [formControl]="labControl" required>
                <mat-error *ngIf="labControl.invalid">{{getLabErrorMessage()}}</mat-error>
              </mat-form-field>
        </div>
    
        <div class="polja-kolona">
            <mat-form-field appearance="fill" style="margin:auto; width:70%;">
                <mat-label>Ciljevi Predmeta</mat-label>
                <textarea matInput [(ngModel)]='goal' autocomplete='off' (keyup)='deleteMessage()'>
                </textarea>
            </mat-form-field>
        
            <mat-form-field appearance="fill" style="margin:auto; width:70%;">
                <mat-label>Ishodi Učenja</mat-label>
                <textarea matInput [(ngModel)]='result' autocomplete='off' (keyup)='deleteMessage()'>
            </textarea>
            </mat-form-field>
    
            <mat-form-field appearance="fill" style="margin:auto; width:70%;">
                <mat-label>Termini Predavanja</mat-label>
                <textarea matInput [(ngModel)]='lectureWhen' autocomplete='off' (keyup)='deleteMessage()'>
            </textarea>
            </mat-form-field>
    
            <mat-form-field appearance="fill" style="margin:auto; width:70%;">
                <mat-label>Termini Vežbi</mat-label>
                <textarea matInput [(ngModel)]='excWhen' autocomplete='off' (keyup)='deleteMessage()'>
            </textarea>
            </mat-form-field>
    
            <mat-form-field appearance="fill" style="margin:auto; width:70%;">
                <mat-label>Dodatne Informacije</mat-label>
                <textarea matInput [(ngModel)]='comment' autocomplete='off' (keyup)='deleteMessage()'>
            </textarea>
            </mat-form-field>
        </div>
          <div class="dugme">
            <button class="btn-update" mat-button type='submit' (click)='update()'>Sačuvaj</button>
          </div>
          <div *ngIf="errorMsg!=''" class="poruka err">
            {{errorMsg}}
          </div>
          <div *ngIf="successMsg!=''" class="poruka succ">
            {{successMsg}}
          </div>
        </mat-card>
    </div>