.polja-kolona{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

mat-icon-button{
    border:none!important;
}

.dugme{
    margin-top:10px;
    margin-bottom:20px;
    text-align:center;
}


.poruka{
    text-align:center;
    font-size:16px;
    font-weight:500;
    margin-bottom:10px;
}

.err{
    color: #f44336;
}

.succ{
    color:#4caf50;
}

.hint{
    margin-top:-30px;
    color: #9e9e9e;
    margin-bottom:20px;
}

mat-card{
    width:30%;
    margin:auto;
    margin-top:50px;
    
}


.polja-kolona{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btnSave{
    background-color: #e91e63;
    color: #ffffff;
}


mat-card-title{
    padding-top:10px;
    color:#283593;
    text-align:center;
    margin-bottom:35px;
}