.polja{
    margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

mat-form-field{
    margin:auto;
    width:70%;
}

mat-icon-button{
    border:none!important;
}

.dugme{
    margin-top:10px;
    margin-bottom:20px;
    text-align:center;
}
.btn-prijava{
    background-color: #e91e63;
    color: #ffffff;
}

.poruka{
    text-align:center;
    font-size:16px;
    color: #f44336;
    font-weight:500;
    margin-bottom:10px;
}