  <div class="polja">
    <mat-form-field appearance="fill">
      <mat-label>Korisničko ime</mat-label>
      <input matInput [(ngModel)]='username' autocomplete='off' (keyup)='deleteMessage()' [formControl]="usernameControl" required>
      <mat-error *ngIf="usernameControl.invalid">{{getUsernameErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Lozinka</mat-label>
      <input matInput  [type]="hide ? 'password' : 'text'" [formControl]="passwordControl" (keyup)='deleteMessage()' [(ngModel)]='password' required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="dugme">
    <button class="btn-prijava" mat-button type='submit' (click)='login()'>Prijava</button>
  </div>
  <div *ngIf="message!=''" class="poruka">
    {{message}}
  </div>  