<div class="container">
    <div class="left">
        <mat-card class="card" (click)="goToRTI()">
            <img mat-card-image src="assets/images/img2.jpg">
            <mat-card-footer>{{'CEIT' | translate}}</mat-card-footer>
        </mat-card>
    </div>
    <div class="mid">
        <mat-card class="card" (click)="goToSI()">
            <img mat-card-image src="assets/images/img4.jpg">
            <mat-card-footer>{{'SE' | translate}}</mat-card-footer>
        </mat-card>
    </div>
    <div class="right">
        <mat-card class="card" (click)="goToOstali()">
            <img mat-card-image src="assets/images/ostaliOdseci.jpg">
            <mat-card-footer>{{'OtherDepartments' | translate}}</mat-card-footer>
        </mat-card>
    </div>
</div>