.nav{
    height:110%;
}
mat-sidenav-container{
    height:100%;
    z-index:0;
}

mat-sidenav{
    width:200px;
}

ul{
    padding-top:40px;
    font-size:22px;
    list-style-type:none;
    margin-left:0;
}

li{
    padding-bottom:30px;
}
a{
    color:rgb(12, 130, 185);
}

a:hover{
    color:#283593;
    cursor: pointer;
}

.active{
    text-decoration: underline;
    color:#212121;
}
a:active{
    text-decoration: underline;
    color:#212121;
}

.btnBack{
    color:white;
    background-color:#3f51b5;
    margin-top:60px;
    width:70px;
    margin-left:65px;
}

.btnBack:hover{
    background-color:#283593;
}

.polja-kolona{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.polja-horiz1{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}

.polja-horiz2{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}

mat-card{
    margin:auto;
    margin-top:30px;
    padding-bottom:40px;
    width:30%;
}

mat-icon-button{
    border:none!important;
}

.dugme{
    margin-top:10px;
    margin-bottom:20px;
    text-align:center;
}

.btnUpdate{
    margin-top:15px;
    background-color: #e91e63;
    color: #ffffff;
}

.poruka{
    text-align:center;
    font-size:16px;
    font-weight:500;
    margin-bottom:10px;
}

.err{
    color: #f44336;
}

.succ{
    color:#4caf50;
}

mat-card-title{
    padding-top:10px;
    color:#283593;
    text-align:center;
    margin-bottom:35px;
}