<div class="telo">
    <mat-card>
    <mat-card-title>Moj Profil</mat-card-title>
      <div class="polja-kolona">
          <mat-form-field appearance="fill" style="margin:auto; width:70%;">
            <mat-label>Adresa</mat-label>
            <input matInput [(ngModel)]='address' autocomplete='off' (keyup)='deleteMessage()' [formControl]="addressControl" required>
            <mat-error *ngIf="addressControl.invalid">{{getAddressErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin:auto; width:70%;">
            <mat-label>Kabinet</mat-label>
            <input matInput [(ngModel)]='room' autocomplete='off' (keyup)='deleteMessage()' [formControl]="roomControl" required>
            <mat-error *ngIf="roomControl.invalid">{{getRoomErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin:auto; width:70%;">
            <mat-label>Br. Telefona</mat-label>
            <input matInput [(ngModel)]='phone' autocomplete='off' (keyup)='deleteMessage()'>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin:auto; width:70%;">
            <mat-label>Veb sajt</mat-label>
            <input matInput [(ngModel)]='website' autocomplete='off' (keyup)='deleteMessage()'>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin:auto; width:70%;">
            <mat-label>Biografija</mat-label>
            <textarea matInput [(ngModel)]='biography' autocomplete='off' (keyup)='deleteMessage()'>
            </textarea>
          </mat-form-field>
            
        </div>
     
      <div class="dugme">
        <button class="btnUpdate" mat-button type='submit' (click)='update()'>Sačuvaj</button>
      </div>
      <div *ngIf="errorMsg!=''" class="poruka err">
        {{errorMsg}}
      </div>
      <div *ngIf="successMsg!=''" class="poruka succ">
        {{successMsg}}
      </div>
    </mat-card> 
</div>
