<div class="container">
    <div class="gore">
        <h1>Obaveštenja</h1>
        <button  *ngIf="type=='admin'" mat-button class="btnObrisiSve" (click)="deleteAllNotices()">Obriši sve</button>
        <button  *ngIf="type=='admin'" mat-button class="btnDodaj" (click)="addNotice()">Dodaj</button>          
    </div>
    <div class="sredina">
        <mat-accordion multi="true">
            <mat-expansion-panel *ngFor="let notice of notices">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="pom">
                    {{notice.date}}&nbsp;
                    <div class="kategorija">{{kategorija(notice)}}</div>
                    </div>
                    <div class="naslov">{{notice.title}}</div>                    
                </mat-panel-title>
                <mat-panel-description>
                  <div class="buttons">
                    <button *ngIf="type=='admin'" class="btnUpdate" (click)="updateNotice(notice)"><mat-icon>upgrade</mat-icon></button>
                    <button *ngIf="type=='admin'" class="btnObrisi" (click)="deleteNotice(notice)"><mat-icon>delete</mat-icon></button>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{notice.notice}}</p>
            </mat-expansion-panel>
          </mat-accordion>
    </div>
</div>
