<mat-toolbar color="primary">
    <mat-toolbar-row class="prvi-red">

    </mat-toolbar-row>
    <mat-toolbar-row class="drugi-red">
        <span class="naslov large-view">{{'HeaderTitleLong' | translate}}</span>
        <span class="naslov small-view">{{'HeaderTitleShort' | translate}}</span>
        <span class="spacer"></span>
        <span class="logos">
            <a href="https://www.etf.bg.ac.rs/" title="{{'HeaderSEEHover' | translate}}"><img class="slika" src='assets/images/logoETF.png' lt="Logo Elektrotehničkog fakulteta, Univerziteta u Beogradu"></a>
            <a href="https://bg.ac.rs/" title="{{'HeaderUBHover' | translate}}"><img  class="slika" src='assets/images/logoBU.svg' alt="Logo Univerziteta u Beogradu"></a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>