<mat-card>
    <mat-card-title>Kontakt</mat-card-title>
<mat-grid-list gutterSize="15" cols="2" rowHeight="2:1">
    <mat-grid-tile class="mainTile">
        <mat-grid-list cols="1" rowHeight="fit" [ngStyle]="{width:'100%',height:'100%'}">
            <mat-grid-tile class="secondaryTile title">Dekanat</mat-grid-tile>
            <mat-grid-tile class="secondaryTile"><mat-icon>phone</mat-icon>(011) 324-8464</mat-grid-tile>
            <mat-grid-tile class="secondaryTile"><mat-icon>phone</mat-icon>(011) 324-8681</mat-grid-tile>
            <mat-grid-tile class="secondaryTile"><mat-icon>email</mat-icon><a href="mailto: dekanat@etf.bg.ac.rs">dekanat@etf.bg.ac.rs</a></mat-grid-tile>
        </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile class="mainTile">
        <mat-grid-list cols="1" rowHeight="fit" [ngStyle]="{width:'100%',height:'100%'}">
            <mat-grid-tile class="secondaryTile title">Studentski odsek</mat-grid-tile>
            <mat-grid-tile class="secondaryTile"><mat-icon>account_box</mat-icon>Dragana Trenevski</mat-grid-tile>
            <mat-grid-tile class="secondaryTile"><mat-icon>phone</mat-icon>(011) 3226-760</mat-grid-tile>
            <mat-grid-tile class="secondaryTile"><mat-icon>email</mat-icon><a href="mailto: stud_sluzba@etf.bg.ac.rs">stud_sluzba@etf.bg.ac.rs</a></mat-grid-tile>
        </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile class="mainTile">
        <mat-grid-list cols="1" rowHeight="fit" [ngStyle]="{width:'100%',height:'100%'}">
            <mat-grid-tile class="secondaryTile title">Opšti odsek</mat-grid-tile>
            <mat-grid-tile class="secondaryTile"><mat-icon>account_box</mat-icon>Miloš Nalović</mat-grid-tile>
            <mat-grid-tile class="secondaryTile"><mat-icon>phone</mat-icon>(011) 3226-992</mat-grid-tile>
            <mat-grid-tile class="secondaryTile"><mat-icon>email</mat-icon><a href="mailto: opsta_sluzba@etf.bg.ac.rs">opsta_sluzba@etf.bg.ac.rs</a></mat-grid-tile>
        </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile class="mainTile">
        <mat-grid-list cols="1" rowHeight="fit" [ngStyle]="{width:'100%',height:'100%'}">
            <mat-grid-tile class="secondaryTile title">Računovodstvo</mat-grid-tile>
            <mat-grid-tile class="secondaryTile"><mat-icon>account_box</mat-icon>Mirjana Vlajković</mat-grid-tile>
            <mat-grid-tile class="secondaryTile"><mat-icon>phone</mat-icon>(011) 3370-146</mat-grid-tile>
            <mat-grid-tile class="secondaryTile"><mat-icon>phone</mat-icon>(011) 3370-077</mat-grid-tile>
        </mat-grid-list>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>