<div class="container">
    <h1>Naučni projekti</h1>
    <ul>
        <li><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</a></li>
        <li><a href="">Vivamus arcu felis bibendum ut tristique et egestas, suspendisse Faucibus interdum posuere lorem ipsum dolor sit amet</a></li>
        <li><a href="">Sed risus ultricies tristique nulla aliquet, in nisl nisi scelerisque eu Ultrices vitae auctor eu augue, consectetur a erat nam at lectus urna</a></li>
        <li><a href="">Nunc consequat interdum varius sit amet mattis Vulputate enim nulla</a></li>
        <li><a href="">Felis eget velit aliquet sagittis id consectetur purus ut</a></li>
        <li><a href="">Amet volutpat consequat mauris nunc congue nisi, malesuada nunc vel risus commodo viverra COVID-19 maecenas accumsan</a></li>
        <li><a href="">Mauris pharetra et ultrices neque ornare aenean euismod elementum nisi, Varius duis at consectetur lorem donec massa sapien faucibus et, id eu nisl nunc mi</a></li>
        <li><a href="">Volutpat diam ut venenatis tellus in metus, augue interdum velit euismod in pellentesque massa placerat</a></li>
        <li><a href="">Egestas dui id ornare arcu odio ut, facilisi cras EU fermentum odio eu feugiat pretium nibh ipsum consequat</a></li>
        <li><a href="">Praesent elementum facilisis leo velm mauris ultrices eros in cursus</a></li>
        <li><a href="">Nam at lectus urna duis convallis habitasse platea dictumst quisque sagittis</a></li>
        <li><a href="">Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet Serbia magna eget est lorem ipsum dolor sit amet consectetur adipiscing</a></li>
    </ul>
</div>