.container{
    margin:auto;
    width:100%;
    background-color:#e8eaf6;
}

table{
    margin:auto;
    margin-top:1%;
    width:80%;
}

.poslednja{
    padding-bottom:45px;
}

h1{
    display:inline-block;
    padding-left:10%;
    margin:auto;
    padding-top:1%;
    font-size:30px;
    color:#283593;
}

.mat-row:hover{
    background-color:#c5cae9;
    cursor:pointer;
}