<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->

    <div class="mySlides fade">
        <div class="numbertext">1 / 4</div>
        <img src="assets/images/img5.jpg">
        <div class="text"><p id="centered">Zgrada tehničkih fakulteta</p>
        Elektrotehnički fakultet je osnovan 1948. godine. Tada je imao dva odseka: Energetiku i Telekomunikacije.
        Odsek Računarstvo i Informatika (danas RTI) je osnovan 1987. Katedra za računarsku tehniku i informatiku koristi x amfiteatara raspoređenih u više zgrada, yy
        učionica kao i zz računarskih laboratorija i sopstveni računarski centar.</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 4</div>
        <img src="assets/images/img3.jpg">
        <div class="text"><p id="centered">RTI Katedra</p>
            Uvek veseli i nasmejani, sa preko 200 godina kolektivnog iskustva u držanju nastave na Elektrotehničkom fakultetu. Katedra se sastoji kako od veoma iskusnih
        profesionalaca u mnogim poljima tako i od mladih inženjera koji veoma efikasno prenose svoje znanje i veštine mlađim generacijama.</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 4</div>
        <img src="assets/images/img2.jpg" >
        <div class="text"><p id="centered">Hardverski predmeti</p>
        Profesori i asistenti sa RTI Katedre drže nastavu na mnogobrojnim hardverskim predmetima, na kojima se postepeno uči sve od toga kako rade I/ILI kola do detaljnog projektovanja multiprocesorskih sistema.
        </div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 4</div>
        <img src="assets/images/img4.jpg">
        <div class="text"><p id="centered">Softverski predmeti</p>
        Zastupljeni i više od hardverskih jesu softverski predmeti na RTI odseku. Studenti kroz veliki broj softverskih predmeta i projekata ne samo da uče razne programske jezike i principe
        već postaju pravi softverski inženjeri nakon završetka studija.</div>
    </div>
    <!-- Next and previous buttons -->
    <a class="prev" (click)='plusSlides(-1)'>&#10094;</a>
    <a class="next" (click)='plusSlides(1)'>&#10095;</a>
</div>