.nav{
    height:100%;
}
mat-sidenav-container{
    height:100%;
    z-index:0;
}

mat-sidenav{
    width:200px;
}

ul{
    padding-top:40px;
    font-size:22px;
    list-style-type:none;
    margin-left:0;
}

li{
    padding-bottom:30px;
}
a{
    color:rgb(12, 130, 185);
}

a:hover{
    color:#283593;
    cursor: pointer;
}

a:active{
    text-decoration: underline;
    color:#212121;
}
.btnBack{
    color:white;
    background-color:#3f51b5;
    margin-top:60px;
    width:70px;
    margin-left:65px;
}

.btnBack:hover{
    background-color:#283593;
}